<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<ul data-th-fragment="actionmenu">
    <th:block data-sec-authorize="hasRole('ROLE_ADMIN')">
        <li class="nav-header" data-th-text="#{sidebar.administrative.title}"></li>
        <li data-th-if="${@environment.getProperty('openid.connect.endpoints.api.client.enabled')}"><a
                data-target=".nav-collapse" data-th-text="#{sidebar.administrative.manage_clients}"
                data-toggle="collapse" href="manage/#admin/clients"></a></li>
        <li data-th-if="${@environment.getProperty('openid.connect.endpoints.api.whitelist.enabled')}"><a
                data-target=".nav-collapse" data-th-text="#{sidebar.administrative.whitelisted_clients}"
                data-toggle="collapse" href="manage/#admin/whitelists"></a></li>
        <li data-th-if="${@environment.getProperty('openid.connect.endpoints.api.blacklist.enabled')}"><a
                data-target=".nav-collapse" data-th-text="#{sidebar.administrative.blacklisted_clients}"
                data-toggle="collapse" href="manage/#admin/blacklist"></a></li>
        <li data-th-if="${@environment.getProperty('openid.connect.endpoints.api.scope.enabled')}"><a
                data-target=".nav-collapse" data-th-text="#{sidebar.administrative.system_scopes}"
                data-toggle="collapse" href="manage/#admin/scope"></a></li>
        <li class="divider"></li>
    </th:block>
    <li class="nav-header" data-th-text="#{sidebar.personal.title}"></li>
    <li data-th-if="${@environment.getProperty('openid.connect.endpoints.api.approvedsite.enabled')}"><a
            data-target=".nav-collapse" data-th-text="#{sidebar.personal.approved_sites}" data-toggle="collapse"
            href="manage/#user/approved"></a></li>
    <li data-th-if="${@environment.getProperty('openid.connect.endpoints.api.token.enabled')}"><a
            data-target=".nav-collapse" data-th-text="#{sidebar.personal.active_tokens}" data-toggle="collapse"
            href="manage/#user/tokens"></a></li>
    <li data-th-if="${@environment.getProperty('openid.connect.endpoints.oidc.userinfo.enabled')}"><a
            data-target=".nav-collapse" data-th-text="#{sidebar.personal.profile_information}" data-toggle="collapse"
            href="manage/#user/profile"></a></li>
    <li class="divider"></li>
    <li class="nav-header" data-th-text="#{sidebar.developer.title}"></li>
    <li data-th-if="${@environment.getProperty('openid.connect.endpoints.oidc.dynamicclientregistration.enabled')}"><a
            data-target=".nav-collapse" data-th-text="#{sidebar.developer.client_registration}" data-toggle="collapse"
            href="manage/#dev/dynreg"></a></li>
    <li data-th-if="${@environment.getProperty('openid.connect.endpoints.protectedresourceregistration.enabled')}"><a
            data-target=".nav-collapse" data-th-text="#{sidebar.developer.resource_registration}" data-toggle="collapse"
            href="manage/#dev/resource"></a></li>
</ul>

</body>
</html>