<!DOCTYPE html>
<html>
<body>
<th-block data-th-fragment="landingPageStats">
    <h2 data-th-text="#{home.statistics.title}"></h2>

    <p class="muted" data-th-utext="#{home.statistics.loading}" id="statsloader"></p>

    <p data-th-inline="text" id="stats">
        <span data-th-remove="tag" data-th-utext="#{home.statistics.number_users('?')}"></span>
        <span data-th-remove="tag" data-th-utext="#{home.statistics.number_clients('?')}"></span>
        <span data-th-remove="tag" data-th-utext="#{home.statistics.number_approvals('?')}"></span>
    </p>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#stats').hide();
            var base = $('base').attr('href');

            $.getJSON(base + 'api/stats/summary', function (data) {
                var stats = data;
                $('#userCount').html(stats.userCount);
                $('#clientCount').html(stats.clientCount);
                $('#approvalCount').html(stats.approvalCount);
                $('#statsloader').hide();
                $('#stats').show();

            });
        });
    </script>
</th-block>
</body>
</html>