<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<body>

<div data-th-fragment="topbar(pageName)">
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <button class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="brand" href=""><img data-th-src="${ @config.logoImageUrl }"/>
                    <th-block data-th-text="${@config.topbarTitle}">Brand</th-block>
                </a>
                <div class="nav-collapse collapse" data-th-if="${!#strings.isEmpty(pageName)}">
                    <ul class="nav">
                        <li class="active" data-th-if="${pageName == 'Home'}"><a data-target=".nav-collapse"
                                                                                 data-th-text="#{topbar.home}"
                                                                                 data-toggle="collapse" href="">Home</a>
                        </li>
                        <li data-th-unless="${pageName == 'Home'}"><a data-target=".nav-collapse"
                                                                      data-th-text="#{topbar.home}"
                                                                      data-toggle="collapse" href="">Home</a></li>
                        <li class="active" data-target=".nav-collapse" data-th-if="${pageName == 'About'}"
                            data-toggle="collapse"><a data-th-text="#{topbar.about}" href="">About</a></li>
                        <li data-th-unless="${pageName == 'About'}"><a data-target=".nav-collapse"
                                                                       data-th-text="#{topbar.about}"
                                                                       data-toggle="collapse" href="about">About</a>
                        </li>
                        <li class="active" data-target=".nav-collapse" data-th-if="${pageName == 'Statistics'}"
                            data-toggle="collapse"><a data-th-text="#{topbar.statistics}" href="">Statistics</a></li>
                        <li data-th-unless="${pageName == 'Statistics'}"><a data-target=".nav-collapse"
                                                                            data-th-text="#{topbar.statistics}"
                                                                            data-toggle="collapse" href="stats">Statistics</a>
                        </li>
                        <li class="active" data-target=".nav-collapse" data-th-if="${pageName == 'Contact'}"
                            data-toggle="collapse"><a data-th-text="#{topbar.contact}" href="">Contact</a></li>
                        <li data-th-unless="${pageName == 'Contact'}"><a data-target=".nav-collapse"
                                                                         data-th-text="#{topbar.contact}"
                                                                         data-toggle="collapse"
                                                                         href="contact">Contact</a></li>
                    </ul>
                    <ul class="nav hidden-desktop" data-sec-authorize="hasRole('ROLE_USER')"
                        data-th-include="fragments/actionmenu::actionmenu"></ul>
                    <ul class="nav pull-right visible-desktop">
                        <li class="dropdown" data-sec-authorize="hasRole('ROLE_USER')">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="" id="userButton"><i
                                    class="icon-user icon-white"></i>
                                <th-block data-th-text="${ userInfo.preferredUsername } ?: ${ userInfo.sub }">
                                    shortName
                                </th-block>
                                <span class="caret"></span></a>
                            <ul class="dropdown-menu pull-right">
                                <li><a data-target=".nav-collapse"
                                       data-th-text="${ userInfo.name ?: userInfo.givenName + ' ' + userInfo.familyName}"
                                       data-toggle="collapse" href="manage/#user/profile">longName</a></li>
                                <li class="divider"></li>
                                <li><a data-target=".nav-collapse" data-toggle="collapse" href="logout"><i
                                        class="icon-remove"></i> Log out</a></li>
                            </ul>
                        </li>
                        <li sec:authorize="isAnonymous()">
                            <a data-target=".nav-collapse" data-th-text="#{topbar.login}" data-toggle="collapse"
                               href="login" id="loginButton"><i class="icon-lock icon-white"></i>login</a>
                        </li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>
    </div>

</div>

</body>
</html>
